*{
    margin: 0;
   padding: 0;

}

#menu ul
 {
list-style:none;
}

#menu ul li{
    background-color: #090101;
    border: 1px solid #f4f6f7;
    width: 266px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    position: relative;
}

#menu ul li a

{
text-decoration: none;
color: white;
display: block;

}

#menu ul li a:hover
{
 background-color: green;
}

#menu ul ul {
    position: absolute;
    display: none;
}

#menu ul li:hover > ul
{
display: block;
}

#outerbox
{

}

#slierbox
{
 position: relative;
 animation-duration: 5s;
 animation-name: slide;
}
#slierbox img
{
    float: left;

}
@keyframes slide
{
   
    form
{
    left: 0px;


}
to
{
 left: -1280px
}


}






